
:root{
    --main-color:rgb(14, 201, 23);
    --main-font: 'Libre Franklin';
}
.login-page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    
}

.login-page-details-container{
    padding: 1%;
    border-radius: 1.5vh;
    height: 40vh;
    background-color: rgb(240, 240, 240);
    aspect-ratio: 1.5/1;
    display: flex;
    flex-direction: column;
}

.login-page-header-container{
    width: 100%;
    height: 100%;
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.login-page-header{
    margin: 8% 0 0 0;
    text-align: left;
    font-family: var(--main-font);
    font-size: 300%;
    font-weight: 600;
}
.login-page-credentials-container{
    width: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 9%;
}
.login-page-credentials-container input{
    display: block;
    border: none;
    width: 90%;
    padding: 0.6%;
    border-radius: 0.5vh;
    outline: none;
    font-family: 'Libre Franklin';
    height: 3.6vh;
}
.login-button{
    width: 92%;
    margin-top: 10%;
    height: 4vh;
    border-radius: 0.8vh;
    float: left;
    border: none;
    color: white;
    background-color: var(--main-color);
    transition: all ease-in 150ms;
    font-family: var(--main-font);
}
.login-button:hover{
    width: 95%;
    filter: brightness(105%);
}