
.sending-email-list-container{
    width: 86%;
    margin-left: 7%;
    margin-right: 4%;
    height: 60vh;
    background-color: rgb(241, 241, 241);
    display: grid;
    padding: 1%;
    grid-template-rows: repeat(1, 1fr);

}
